<%- include('includes/head'); %>
<div class="container-fluid my-5">
    <div class="col-lg-8 px-0 m-auto">
      <h1 class="display-1 text-center fw-semibold">ERROR 404!</h1>
      <p class="text-center text-sm">
        Essa página não foi encontrada!
      </p>
    </div>
  </div>


<%- include('includes/footer'); %>